$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import ".tmp/styles/animate";

$bgColor: #333;

html {
	overflow-y: scroll;
}

body {
	background: $bgColor;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.thumbnail {
	height: 200px;

	img.pull-right {
		width: 50px;
	}
}

.hand {
	cursor: pointer;
}

.no-padding {
	padding: 0;
}

.table {
	tbody {
		&.height {
			td {
				line-height: 2.2em;

				&.hand {
					> a {
						display: block;
						line-height: 2.4em;
					}
				}
			}
		}
		td {
			&.hand {
				overflow: hidden;

				> a {
					display: block;
					margin: -1em;
					padding: 1em;
				}
			}
		}
	}
}

.animated {
	animation-duration: 0.3s;
}

.header {
	background: #000; //lighten($bgColor, 70%);

	> * {
		float: left;
	}
}

.icon {
	display: inline-block;
	text-align: center;
	width: 2em;
	line-height: 2.2em;
}

#sync {
	&.on {
		color: #0f0;
	}
	&.off {
		color: #aaa;
	}
}

#sidebar {
	float: left;
	z-index: 2;
	position: static;
	height: 100vh;

	> ul {
		width: 100%;
		height: 100%;
	}

	&.ng-hide-add.ng-hide-add-active {
		position: absolute;
		@include animation-name(fadeOutLeft);
	}
	&.ng-hide-remove.ng-hide-remove-active {
		position: static;
		@include animation-name(fadeInLeft);
	}
}

#wrap {
	min-height: 100vh;
	overflow: hidden;
	background: #fff;
}

#main {
	&.ng-enter {
		@include animation-name(fadeInUp);
	}

	&.ng-leave {
		display: none;
	}
}