<div ng-show="isCategory()">
	<button type="button" class="btn btn-primary fa fa-arrow-circle-left" ui-sref="^"></button>
	<ng-include src="'partials/food/list.html'"></ng-include>
</div>
<div ui-view></div>
