<div ng-show="isGroup()">
	<button type="button" class="btn btn-primary fa fa-arrow-circle-left" ui-sref="^"></button>
	<button type="button" class="btn btn-success fa fa-plus" ui-sref=".newItem"></button>
	<table class="table table-bordered table-striped table-hover">
		<thead>
		<tr>
			<th translate="ID"></th>
			<th translate="NAME"></th>
			<th translate="PROTEINS"></th>
			<th translate="FATS"></th>
			<th translate="CARBOHYDRATES"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in items">
			<td class="text-right" ng-bind="$index + 1"></td>
			<td class="hand"><a ng-bind="item.name" ui-sref=".item({ iid: item._id })"></a></td>
			<td class="text-right" ng-bind="item.contents.proteins | number : 1"></td>
			<td class="text-right" ng-bind="item.contents.fats | number : 1"></td>
			<td class="text-right" ng-bind="item.contents.carbohydrates | number : 1"></td>
		</tr>
		</tbody>
	</table>
</div>
<div ui-view></div>