<button type="button" class="btn btn-primary fa fa-arrow-circle-left" ui-sref="^"></button>
<button type="button" class="btn btn-success fa fa-edit" ng-click="view=false"></button>
<button type="button" class="btn btn-danger fa fa-trash-o" ng-click="remove()"></button>
<form class="form-horizontal" role="form" ng-repeat="c in [item.contents]">
	<fieldset ng-disabled="view">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label" translate="NAME"></label>
			<div class="col-sm-9 col-lg-6">
				<input type="text" class="form-control" ng-model="item.name" id="name">
			</div>
		</div>
		<div number suffix="kcal" ng-model="item.energy">FOOD_ENERGY</div>
		<div number suffix="g" ng-model="c.proteins">PROTEINS</div>
		<div number suffix="g" ng-model="c.fats">FATS</div>
		<div number suffix="g" ng-model="c.carbohydrates">CARBOHYDRATES</div>
		<fieldset>
			<legend translate>FATTY_ACID</legend>
			<div number suffix="g" ng-model="c.fattyAcid.saturated">SATURATED</div>
			<div number suffix="g" ng-model="c.fattyAcid.unsaturated">UNSATURATED</div>
			<div number suffix="g" ng-model="c.fattyAcid.essential">ESSENTIAL</div>
		</fieldset>
	</fieldset>
</form>