<table class="table table-bordered table-striped table-hover">
	<thead>
	<tr>
		<th translate="ID"></th>
		<th translate="NAME"></th>
		<th></th>
	</tr>
	</thead>
	<tbody class="height">
	<tr ng-repeat="element in elements track by $index">
		<td class="text-right" ng-bind="$index + 1"></td>
		<td class="hand">
			<a editable-text="element.name" e-form="row" e-name="name" ng-bind="element.name" href="{{ childHref(element); }}"></a>
		</td>
		<td>
			<form editable-form name="row" onbeforesave="validate($data)" onaftersave="save(element)"
				  ng-show="row.$visible" class="form-buttons form-inline" shown="false">
				<button type="button" ng-disabled="row.$waiting" class="btn btn-primary fa fa-check"
						ng-click="row.$submit()"></button>
				<button type="button" ng-disabled="row.$waiting" class="btn btn-default fa fa-times"
						ng-click="row.$cancel()"></button>
			</form>
			<div ng-hide="row.$visible">
				<button class="btn btn-primary fa fa-edit" ng-click="row.$show()"></button>
				<button class="btn btn-danger fa fa-trash-o" ng-click="remove(element)"></button>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="text" ng-model="volatile.newRow" class="form-control"></td>
		<td>
			<button type="button" class="btn btn-primary fa fa-check" ng-disabled="!volatile.newRow"
					ng-click="addNew()"></button>
		</td>
	</tr>
	</tbody>
</table>