<button type="button" class="btn btn-primary fa fa-arrow-circle-left" ui-sref="^"></button>
<button type="button" class="btn btn-success fa fa-edit" ng-click="view=false"></button>
<accordion close-others="false">
	<accordion-group ng-repeat="meal in meals track by $index" heading="{{ $index + 1 }}" is-open="open">
		<table class="table table-bordered table-striped table-hover">
			<thead>
			<tr>
				<th translate="ID"></th>
				<th translate="NAME"></th>
				<th translate="WEIGHT"></th>
				<th translate="FOOD_ENERGY"></th>
				<th translate="PROTEINS"></th>
				<th translate="FATS"></th>
				<th translate="CARBOHYDRATES"></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in meal track by $index">
				<td class="text-right" ng-bind="$index + 1"></td>
				<td ng-bind="item.product.name"></td>
				<td><input type="number" class="form-control text-right" min="0" max="5000" step="1"
						   ng-model="item.weight" ng-focus="rememberWeight(item)" ng-blur="saveWeight(item)"></td>
				<td class="text-right" ng-bind="energy(item) | number : 1"></td>
				<td class="text-right" ng-bind="content(item, 'proteins') | number : 1"></td>
				<td class="text-right" ng-bind="content(item, 'fats') | number : 1"></td>
				<td class="text-right" ng-bind="content(item, 'carbohydrates') | number : 1"></td>
				<td>
					<button type="button" class="btn btn-danger fa fa-trash-o"
							ng-click="remove(meal, item, $index)"></button>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="text" ng-model="newComponent[$index]" ng-change="addNewComponent($index)" class="form-control" list="food">
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td class="text-right" ng-bind="mealWeight(meal) | number : 0"></td>
				<td class="text-right" ng-bind="sumEnergy(meal) | number : 1"></td>
				<td class="text-right" ng-bind="sum(meal, 'proteins') | number : 1"></td>
				<td class="text-right" ng-bind="sum(meal, 'fats') | number : 1"></td>
				<td class="text-right" ng-bind="sum(meal, 'carbohydrates') | number : 1"></td>
				<td></td>
			</tr>
			</tfoot>
		</table>
	</accordion-group>
</accordion>
<datalist id="food">
	<option ng-repeat="item in ::items" bo-value="item.name"></option>
</datalist>
