<div class="col-sm-6">
	<form class="form-horizontal" role="form">
		<fieldset ng-disabled="view">
			<div class="form-group">
				<label for="firstName" class="col-sm-3 control-label" translate="FIRST_NAME"></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="patient.firstName" id="firstName">
				</div>
			</div>
			<div class="form-group">
				<label for="lastName" class="col-sm-3 control-label" translate="LAST_NAME"></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="patient.lastName" id="lastName">
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="col-sm-6">
	<table class="table table-bordered table-striped table-hover">
		<thead>
		<tr>
			<th translate="INDICATOR"></th>
			<th translate="VALUE"></th>
			<th translate="UNIT"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="indicator in indicators">
			<td><abbr title="{{ (indicator.name + '_LONG') | translate }}" ng-bind="indicator.name" translate></abbr>
			</td>
			<td ng-bind="indicator.value | number : 0" class="text-right"></td>
			<td ng-bind="indicator.unit"></td>
		</tr>
		</tbody>
	</table>
</div>