<div ng-show="isPatients()">
	<button type="button" class="btn btn-success fa fa-plus" ui-sref=".new"></button>
	<table class="table table-bordered table-striped table-hover">
		<thead>
		<tr>
			<th translate="ID"></th>
			<th translate="FIRST_NAME"></th>
			<th translate="LAST_NAME"></th>
			<th translate="GENDER"></th>
			<th translate="GOAL"></th>
			<th translate="WEIGHT"></th>
			<th translate="LENGTH"></th>
			<th translate="AGE"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="patient in patients">
			<td class="text-right" ng-bind="$index + 1"></td>
			<td class="hand">
				<a ui-sref=".patient({ pid: patient._id })" ng-bind="patient.firstName"></a>
			</td>
			<td class="hand">
				<a ui-sref=".patient({ pid: patient._id })" ng-bind="patient.lastName"></a>
			</td>
			<td ng-bind="patient.gender" translate></td>
			<td ng-bind="patient.goal" translate></td>
			<td class="text-right" ng-bind="patient.weight | number : 0"></td>
			<td class="text-right" ng-bind="patient.length | number : 0"></td>
			<td class="text-right" ng-bind="patient.age | number : 0"></td>
		</tr>
		</tbody>
	</table>
</div>
<div ui-view></div>