<div ng-show="isPatient()">
	<button type="button" class="btn btn-primary fa fa-arrow-circle-left" ui-sref="^"></button>
	<button type="button" class="btn btn-success fa fa-edit" ng-click="view=false"></button>
	<button type="button" class="btn btn-danger fa fa-trash-o" ng-click="remove()"></button>
	<ng-include src="'partials/patients/edit.html'" ng-controller="PatientEditCtrl" class="clearfix"></ng-include>
	<ng-include src="'partials/patients/plan.html'" ng-controller="PlanCtrl"></ng-include>
</div>
<div ui-view></div>
