<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th translate>DAY</th>
		<th ng-repeat="day in days"><a ui-sref=".day({ day: $index })" ng-bind="day"></a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
		<td translate>FOOD_ENERGY</td>
		<td ng-repeat="energy in foodEnergy track by $index" class="text-right" ng-bind="energy | number : 1"></td>
    </tr>
    </tbody>
</table>
