<!doctype html>
<html class="no-js" ng-app="app">
<head>
	<meta charset="utf-8">
	<title translate="HOME">Dietetica</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="bower_components/animate.css/animate.css"/>
	<link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css"/>
	<link rel="stylesheet" href="bower_components/bootstrap-sass/dist/css/bootstrap.css" />
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- build:js scripts/modernizr.js -->
	<script src="bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container-fluid">
	<div class="row" ng-init="sidebar=true">
		<nav id="sidebar" class="col-xs-2 no-padding animated" ng-show="sidebar">
			<ul class="nav nav-pills nav-stacked col-xs-2 no-padding" ng-controller="NavCtrl">
				<li ui-sref-active="active" ng-repeat="item in menu">
					<a ui-sref="{{item.sref}}">
						<i class="fa fa-{{item.icon}}"></i>
						{{item.label | translate}}
					</a>
				</li>
			</ul>
		</nav>
		<div id="wrap">
			<div class="header clearfix">
				<button type="button" class="btn btn-success fa fa-bars"
						ng-click="sidebar=!sidebar"></button>
				<div ng-controller="StatusCtrl">
					<i class="icon fa fa-exchange" id="sync" ng-class="exchange"></i>
				</div>
				<div ncy-breadcrumb></div>
			</div>
			<div ui-view id="main" class="animated"></div>
		</div>
	</div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/pouchdb/dist/pouchdb.js"></script>
<script src="bower_components/angular-pouchdb/angular-pouchdb.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/bootstrap-sass/dist/js/bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/utils.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/conf/dev.js"></script>
<script src="scripts/main/main-ctrl.js"></script>
<!-- inject:partials -->
<!-- endinject -->
<script src="scripts/services/db.js"></script>
<script src="scripts/services/food.js"></script>
<script src="scripts/services/patient.js"></script>
<script src="scripts/services/plan.js"></script>
<script src="scripts/controllers/common.js"></script>
<script src="scripts/directives/focus.js"></script>
<script src="scripts/directives/number.js"></script>
<script src="scripts/controllers/food/list.js"></script>
<script src="scripts/controllers/food/food.js"></script>
<script src="scripts/controllers/food/category.js"></script>
<script src="scripts/controllers/food/group.js"></script>
<script src="scripts/controllers/food/item.js"></script>
<script src="scripts/controllers/food/new.js"></script>
<script src="scripts/controllers/patients/patients.js"></script>
<script src="scripts/controllers/patients/patient.js"></script>
<script src="scripts/controllers/patients/edit.js"></script>
<script src="scripts/controllers/patients/new.js"></script>
<script src="scripts/controllers/patients/plan.js"></script>
<script src="scripts/controllers/patients/day.js"></script>
<script src="scripts/controllers/nav.js"></script>
<script src="scripts/controllers/status.js"></script>
<!-- endbuild -->

</body>
</html>
