<div class="form-group">
	<label for="{{ name }}" class="col-sm-2 control-label" translate ng-transclude></label>
	<div class="col-sm-2">
		<input type="number" class="form-control text-right" id="{{ name }}"
			   ng-model="ngModel" ng-disabled="ngDisabled">
	</div>
	<label for="{{ name }}" class="col-sm-1" ng-bind="suffix"></label>
</div>